<section class="header">
    <div class="container">
        <svg class="header__logo" width="214px" height="180px">
            <use href="./images/sprite.svg#icon-logo-mobile"></use>
        </svg>
        <div class="header__title-wrapper">
            <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
        </div>
        <div class="header__search-wrapper">
            <input id="search" class="header__input" type="text" name="search" placeholder="Start searching">
            <div class="header__wrapper-country">
                <select id="countries" class="header__countries" name="countries">
                    <option value="">Choose country</option>
                </select>
                <span class="header__custom-arrow"></span>
            </div>
        </div>
    </div>
</section>