<section class="header">
    <div class="container">
        <a class="header__logo-bg" href="#">
            <svg class="header__logo" width="214px" height="180px">
                <use href="./images/sprite.svg#icon-logo"></use>
            </svg>
        </a>
        <div class="header__title-wrapper">
            <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
        </div>
        <div class="header__search-wrapper">
            <svg class="header__search-icon" width="12" height="12">
                <use href="./images/sprite.svg#search-icon"></use>
            </svg>
            <input id="search" class="header__input" type="text" name="search" placeholder="Start searching">
            <div class="header__wrapper-country">
                <span class="header__custom-arrow"></span>
                <div class="select-box">
                    <div class="selected header__countries" data-selected-country>Choose country</div>
                    <div class="search-box" id="search-box">
                        <input type="text" name="" id="" placeholder="Start typing">
                    </div>
                    <div class="options-container">
                        <div class="option">
                            <input type="radio" class="radio" name="category">
                            <label for="">Around the world</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>