<div class="team is-hidden showCard">
  <h2 class="gallery-title visually-hidden">Наша команда</h2>
  <ul class="team__list">
    <li class="team__item">
      <div class="team__item-text">
        <h3 class="team__item-name">Aleksandr Sanatar​</h3>
        <p class="team__item-role">Team-lead</p>
      </div>
      <picture>
        <source srcset="./images/team-images/foto11.jpg 1x" />
        <img class="team__image" src="./images/team-images/foto11.jpg" alt="Selim Fazylov" />
      </picture>
    </li>
    <li class="team__item">
      <div class="team__item-text">
        <h3 class="team__item-name">Elena Patlatay​</h3>
        <p class="team__item-role">Scrum-master</p>
      </div>
      <picture>
        <source srcset="./images/team-images/foto11.jpg 1x" />
        <img class="team__image" src="./images/team-images/foto11.jpg" alt="Selim Fazylov" />
      </picture>
    </li>
    <li class="team__item">
      <div class="team__item-text">
        <h3 class="team__item-name">Adrian Tmocaliuc</h3>
        <p class="team__item-role">Developer</p>
      </div>
      <picture>
        <source srcset="./images/team-images/foto11.jpg 1x" />
        <img class="team__image" src="./images/team-images/foto11.jpg" alt="Selim Fazylov" />
      </picture>
    </li>
    <li class="team__item">
      <div class="team__item-text">
        <h3 class="team__item-name">Oleksii Persatyi​</h3>
        <p class="team__item-role">Developer</p>
      </div>
      <picture>
        <source srcset="./images/team-images/foto11.jpg 1x" />
        <img class="team__image" src="./images/team-images/foto11.jpg" alt="Selim Fazylov" />
      </picture>
    </li>
    <li class="team__item">
      <div class="team__item-text">
        <h3 class="team__item-name">Selim Fazylov</h3>
        <p class="team__item-role">Developer</p>
      </div>
      <picture>
        <source srcset="./images/team-images/foto11.jpg 1x" />
        <img class="team__image" src="./images/team-images/foto11.jpg" alt="Selim Fazylov" />
      </picture>
    </li>
    <li class="team__item">
      <div class="team__item-text">
        <h3 class="team__item-name">Yevhen Bakhtizin​</h3>
        <p class="team__item-role">Developer</p>
      </div>
      <picture>
        <source srcset="./images/team-images/foto11.jpg 1x" />
        <img class="team__image" src="./images/team-images/foto11.jpg" alt="Selim Fazylov" />
      </picture>
    </li>
  </ul>
</div>
