#pagination {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;

  background-color: var(--primary-black-color);

  .tui-prev {
    display: none;
    padding: 0;
  }
  .tui-next {
    display: none;
    padding: 0;
  }
  .tui-page-btn {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 16px;
    color: var(--primary-white-color);
    padding: 5px 10px;
    .tui-ico-first {
      // display: none;
      // color: red;
      // background-color: red;
    }
  }
  .tui-is-selected {
    // display: none;
    // background-color: grey;
    border-radius: 10px 0;
    color: rgba(220, 86, 197, 1);
    border: 1px solid rgba(220, 86, 197, 1);
  }
}

.right_arrow {
  fill: red;
}
