.container_pagination {
  position: relative;
  background-color: var(--primary-black-color);
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;

  @include mq(tablet) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -70px;
      left: calc(100% / 2 - 384px);
      width: 1px;
      height: 500px;
      background-color: var(--decor-gray-color);
      z-index: 2;
    }
  }

  @media screen and(min-width:890px) {
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 43px;
      right: calc(100% / 2 - 425px);
      width: 236px;
      height: 236px;
      border-top-left-radius: 236px;
      border: 1px solid var(--decor-gray-color);
      background-color: transparent;
      z-index: 2;
    }
  }

  @include mq(desktop) {
    &::before {
      content: '';
      bottom: -60px;
      left: calc(100% / 2 - 512px);
      height: 500px;
    }

    &::after {
      display: none;
    }
  }

  @media screen and(min-width:1240px) {
    &::after {
      content: '';
      display: block;
      right: calc(100% / 2 - 605px);
      width: 334px;
      height: 334px;
      border-top-left-radius: 334px;
    }
  }
}
.is-hidden {
  display: none;
}
#pagination {
  .tui-prev {
    display: none;
  }
  .tui-next {
    display: none;
  }
  .tui-page-btn {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 16px;
    color: var(--primary-white-color);
    padding: 5px 5px;
    @media screen and (min-width: 768px) {
          padding: 5px 10px;
    }
  }
  .tui-is-selected {
    border-radius: 10px 0;
    color: rgba(220, 86, 197, 1);
    border: 1px solid rgba(220, 86, 197, 1);
  }
}

.right_arrow {
  fill: red;
}
