#scroll_up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 8;
  border: none;
  outline: none;
  background-color: var(--secondary-gray-color);
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  transform: rotateY(180deg);
  .scroll_up__icon {
    width: 30px;
    height: 30px;
    transform: rotateZ(90deg);
  }
}
html {
  scroll-behavior: smooth;
}

#scroll_up:hover {
  background-color: #555;
}
