.scroll_up,
.scroll_down {
  position: fixed;
  bottom: 85px;
  right: 30px;
  z-index: 8;
  border: 1px solid var(--primary-pink-color);
  outline: none;
  background-color: var(--primary-black-color);
  cursor: pointer;
  padding: 3px;
  border-radius: 10px;
  transform: rotateY(180deg);
  opacity: 0.7;
  transition: opacity 250ms linear;
  @include mq(desktop) {
    bottom: 90px;
    right: 40px;
    padding: 5px;
    &:hover {
      background-color: var(--tertiary-gray-color);
    }
  }
  .scroll_up__icon,
  .scroll_down__icon {
    width: 20px;
    height: 20px;
    transform: rotateZ(90deg);
    fill: var(--primary-pink-color);
    @media screen and (min-width: 768px) {
      width: 30px;
      height: 30px;
    }
  }
}
.scroll_down {
  bottom: 40px;
  transform: rotateY(0deg);
  @media screen and (min-width: 768px) {
    bottom: 40px;
  }
  .scroll_down__icon {
    transform: rotateZ(-90deg);
  }
}

.scroll_hide {
  transition: opacity 250ms linear;
  opacity: 0;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}
