:root {
  --primary-black-color: #0e0e0e;
  --primary-white-color: #ffffff;
  --primary-pink-color: #dc56c5;
  --primary-blue-color: #4c00fe;
  --secondary-gray-color: #939393;
  --secondary-black-color: #000000;
  --tertiary-gray-color: rgba(128, 128, 128, 0.8);
  --input-gray-color: rgb(169, 169, 169);
  --decor-gray-color: #212121;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-white-color);
  @include font(400, 14px, 1.2, 0.03em);
  background-color: var(--primary-black-color);
}

.container {
  @include mq(mobile) {
    width: 320px;
    padding: 0 25px;
  }
  @include mq(tablet) {
    width: 768px;
    padding: 0 35px;
  }
  @include mq(desktop) {
    width: 1024px;
    padding: 0 45px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
}
p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
